In [8]:
# tensorflow
import tensorflow
print('tensorflow: %s' %tensorflow.__version__)
# keras
import keras
print('keras: %s' %keras.__version__)

tensorflow: 2.0.0
keras: 2.3.1

In [13]:
import io
import requests
import pandas as pd
from zipfile import ZipFile
r = requests.get('http://www.contextures.com/SampleData.zip')
ZipFile(io.BytesIO(r.content)).extractall()
df = pd.read_excel('SampleData.xlsx', sheet_name='SalesOrders')
#pandas.DataFrsam.to_html
#pd.read_htm,l(html_string)[0]
df.head()

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2018-01-06     East    Jones  Pencil     95       1.99  189.05
1 2018-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2018-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2018-02-26  Central     Gill     Pen     27      19.99  539.73
4 2018-03-15     West  Sorvino  Pencil     56       2.99  167.44

In [15]:
import requests
import lxml.html as lh
import pandas as pd
url='http://pokemondb.net/pokedex/all'

page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')
[len(T) for T in tr_elements[:12]]

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [16]:
tr_elements = doc.xpath('//tr')
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

[len(C) for (title,C) in col]
Dict={title:column for (title,column) in col}
df=dp.DataFram(Dict)
df.head()

1:"#"
2:"Name"
3:"Type"
4:"Total"
5:"HP"
6:"Attack"
7:"Defense"
8:"Sp. Atk"
9:"Sp. Def"
10:"Speed"

NameError: name 'dp' is not defined